<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TestPlatform" version="17.4.1" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.4.1" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="5.11.3" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
</packages>