[*.cs]
dotnet_diagnostic.IDE0005.severity = silent
dotnet_diagnostic.IDE0090.severity = silent

# MA0009: Regular expressions should not be vulnerable to Denial of Service attacks
dotnet_diagnostic.MA0009.severity = none

# MA0051: Method is too long
dotnet_diagnostic.MA0051.severity = none
