[*.cs]

# ReSharper properties
resharper_csharp_indent_style = space

# All Rules Enabled as build warnings
# Description: All Rules are enabled as build warnings. Rules with IsEnabledByDefault = false are force enabled as build warnings.

# Code files
[*.{cs,vb}]

dotnet_style_predefined_type_for_locals_parameters_members = true
dotnet_style_predefined_type_for_member_access = true

# CA1819: Properties should not return arrays
# Reason: Arrays is a good way to indicate that the collection should not be added to that is still easily serializable
dotnet_diagnostic.ca1819.severity = none

# CA5350: Do Not Use Weak Cryptographic Algorithms
# Reason: Use we md5 but only has a hash not for encryption
dotnet_diagnostic.ca5350.severity = none

# CA5350: Do Not Use Broken Cryptographic Algorithms
# Reason: Use we md5 but only has a hash not for encryption
dotnet_diagnostic.ca5351.severity = none

# CA1716: Identifiers should not match keywords
# Reason: We frequently use verbs as method names, like GET as well as terms like namespace which collide with built in keywords
dotnet_diagnostic.CA1716.severity = none